<header>
  <nav class ="navbar navbar-expand-md navbar-light bg-light">
  <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
  
  <ul class="navbar-nav">
     
    <li><a routerLink="/historicaloccupancy" class="nav-link">Historical Occupancy</a></li>
    <li><a routerLink="/liveoccupancy" class="nav-link">Live Occupancy</a></li>
    <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
    <li><a routerLink="/" class="nav-link">LogOut</a></li>
  
  </ul>
    </nav>
  </header> 


<!-- for dining occupancy -->

<div style="text-align: center;">
<div id="line-chart" style="width:75%; height:400px;"></div>
</div>

<!-- for last service value -->
<table class="table table-bordered">
<thead class="thead">
<tr>
<th>
Current Occupancy Count
</th>
</tr>
</thead>
<tbody class="tbody">
<tr *ngFor="let lastOcc of lastOccupancyDetails">

<td>{{lastOcc.count}}</td>
</tr>
</tbody>
</table>  

<!-- <div *ngFor="let lastOcc of lastOccupancyDetails">
  <ul>
    <li>
      {{lastOcc.count}}
    </li>
  </ul>
</div> -->

<!-- <mat-table>
  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>Available count</mat-header-cell>
    <mat-cell *ngFor="let lastOcc of lastOccupancyDetails">{{lastOcc.count}}</mat-cell>
  </ng-container>
</mat-table> -->


<!-- for service occupancy -->
<div style="text-align: center;">
<div id="line-chartt" style="width:75%; height:400px;"></div>
</div>


<!-- for last service value -->
<table class="table table-bordered">
  <thead class="thead">
<tr>
<th>
 Current Service Occupancy Count
</th>
</tr>
  </thead>
  <tbody class="tbody">
<tr *ngFor="let lastSer of lastServiceOccupancyDetails">
  
<td>{{lastSer.count}}</td>
</tr>
  </tbody>
  </table> 