<!DOCTYPE html>
<html lang="en">

<body class="bgblack">
    <header>
        <nav class ="navbar navbar-expand-md navbar-light bg-light">
        <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
        
        <ul class="navbar-nav">
           

            <li><a routerLink="/liveoccupancy" class="nav-link">Live Occupancy</a></li>
          <li><a routerLink="/historicaloccupancy" class="nav-link">Historical Occupancy</a></li>
          <li><a routerLink="/" class="nav-link">LogOut</a></li>
        
        </ul>
          </nav>
        </header> 
        <div class="bg-img">
        <div class="card">
          <div class="change">
          <div class ="text-center">
            <div><h2>Historical Occupancy</h2></div>
          </div>
        </div>
        </div>
        <div class="parents">
          <div class="child">
       
            <div class="change">
            <p>Dining Area</p>
            </div>
            <div class="change">
           
            
              <div class="center">
                <div class="text-right">
                  <div class="circle" ><br>
                    <!-- <span *ngFor="let last of historylasthourdiningdata">
                    <span [ngClass]="{
                      'positive' : last.count > 20,
                      'negative' : last.count < 20,
                      'moderate' : last.count >40
                   }">{{last.count}}
                   </span>
                  </span> -->
               </div>
         </div>
        </div>
            
            </div>
          </div>
        
          <div class="child">
            <div class="change">
            <p>Service Area</p>
            
            </div>
            <div class="change">
              <div class="center">
               
                <div class="circle" ><br>
                  <!-- <span *ngFor="let last of historylasthourservicedata">
                    <span [ngClass]="{
                      'positive' : last.count > 20,
                      'negative' : last.count < 20,
                      'moderate' : last.count >40
                   }">{{last.count}}
                   </span>
                  </span> -->
         
       </div>
       </div>
        
              </div>
        </div>
          
          
        </div><br>
        
	<div class="parent">
    <div class="child">
	<div class="limiter">
		
			<div class="wrap-table100">
<div class="=change">
				<div class="table100 ver3 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Date</th>
									<th class="cell100 column1">Average Dining Area Count (per day)</th>
									<th class="cell100 column1">Average Service Area Count (per day)</th>
                                    <th class="cell100 column2">Trend</th>
									
									
								</tr>
							</thead>
						</table>
					</div>
          
					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body" *ngFor="let histdining of historicalDataDining; let histservice of historicalDataService">
									<td class="cell100 column1">{{histdining.times}}  May 2021</td>
									<td class="cell100 column1">{{histdining.count}}</td>
									<td class="cell100 column1">{{histservice.count}}</td>
                                    <td class="cell100 column2"><button>ak</button></td>
								
								</tr>

								
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
    </div>
  </div>


</body>
</html>



















<!-- <header>
    <nav class ="navbar navbar-expand-md navbar-light bg-light">
    <div><a routerLink="/homepage" class="navbar-brand">Smart Cafeteria</a></div>
    
    <ul class="navbar-nav">
       
      <li><a routerLink="/historicaloccupancy" class="nav-link">Historical Occupancy</a></li>
      <li><a routerLink="/liveoccupancy" class="nav-link">Live Occupancy</a></li>
      <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
      <li><a routerLink="/" class="nav-link">LogOut</a></li>
    
    </ul>
      </nav>
    </header> 

<div class="mt-5">
    <table class="table table-bordered">
        <thead class="thead">
<tr>
    <th>
    Date
    </th>
    <th>
    Average Dining Area Count (per hour)
    </th>
    <th>
    Average Service Area Count (per hour)
    </th>
    <th>
        Trend
        </th>
</tr>
        </thead>
        <tbody class="tbody">
<tr *ngFor="let histdining of historicalDataDining; let histservice of historicalDataService">
    <td>{{histdining.times}} May 2021</td>
    <td>{{histdining.count}}</td>
    <td>{{histservice.count}}</td>
    <td><button>ak</button></td>
</tr>
        </tbody>
    </table>
</div> -->